#pendulum {
  width: 320px;
  height:240px;
  border-right:solid;
  margin-left: -140px;
}

#pendulum.locked {
  border-color: navy;
}

#pendulum.unlocked {
  border-color: orange;

  animation-duration: 1s;
  animation-name: swing;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
}

@keyframes swing {
  from {
    transform: rotate(-29deg);
  }

  to {
    transform: rotate(29deg);
  }
}

#go {
  margin-left: 140px;
  position: relative;
  z-index: 1;
}

#stop {
  margin-left: -147px;
  position: relative;
  z-index: 1;
}